<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
		<mapping class="org.ril.madera.model.Users" />
        <mapping class="org.ril.madera.model.Groupe" />
        <mapping class="org.ril.madera.model.Pays" />
        <mapping class="org.ril.madera.model.Ville" />
        <mapping class="org.ril.madera.model.Site" />
    </session-factory>
</hibernate-configuration>