header {
    height: 200px;
    background-color: #6e6356;
}

header h1 {
    color: #fff;
    padding-top:150px;
    margin:0;
}

.space {
    margin : 25px 0;
}

.browncolor {
    color: #6e6356;
}

.login input {
    width:100%;
}

.login .connexion, .login .connexion:focus {
    background-color: #046839;
    color: #fff !important;
}

.login .connexion:hover {
    background-color: #8dc541;
    color: #fff !important;
    border: 1px solid #046839;
}

control-label{
    color: #009688 !important;
}

